 /* 大 */
.bigBox{
    width:70px !important;
    height:70px !important;
}
/* 中 */
.middleBox{
    width:58px !important;
    height:58px !important;
}
/* 小 */
.smallBox{
    width:48px !important;
    height:48px !important;
}
/* 绿色 */
.color1{
    background:#07b36e !important;
}
/* 橙色 */
.color2{
    background:#fa761d !important;
}
/* 蓝色 */
.color3{
    background:#3ea0fa !important;
}
/* 黄色 */
.color4{
    background:#ffba00 !important;
}
/* 紫色 */
.color5{
    background:#9d9ffb !important;
}
/* 红色 */
.color6{
    background:#f29661 !important;
}
/* 灰色 */
.color7{
    background:#a8b0bf !important;
}
/* 粉色 */
.color8{
    background:#fcbdba !important;
}

/* 标准分类 */
 .BZFL{
   .bigBox();
}
/* 标准 */
 .BZ{
   .middleBox();
   .color3();
}
/* 标准指标 */
.BZZB{
 .smallBox();
 .color4();
}
/* 机构 */
.JG{
  .bigBox();
  .color1();
}
/* 人员 */
.YR{
  .smallBox();
  .color4();
}
/* 项目 */
.XM{
    .middleBox();
    .color7();
}
/* 装备类型 */
.ZBLX{
  .bigBox();
  .color1();
}
/* 装备结构 */
.ZBJG{
    .middleBox();
     .color4();
}
/* 设备/零部件 */
.SBLBJ{
    .smallBox();
    .color8();
}
/* 装备型号 */
.ZBFH{
    .middleBox();
    .color6();
}
/* 装备逐号 */
.ZBZH{
   .smallBox();
    .color6();
}
/* 术语 */
.SY{
   .smallBox();
   .color7();
}
/* 民航事故 */
.MHSG{
    .middleBox();
    .color5();
}
/* 事件 */
.SJ{
    .middleBox();
    .color2();
}
/* .体系架构节点 */
.JTZXBZTXJGJD{
    .middleBox();
}
/* 产品层级 */
.CPCJ{
    .middleBox();
}
/* WBS层次 */
.WBSCC{
    .middleBox()
}
/* 标准级别 */
.BZJB{
    .middleBox()
}
/* 标准专业 */
.BZZY{
    .middleBox()
}
/* 标准层次 */
.BZCC{
    .middleBox()
}
/* 标准领域 */
.BZLY{
    .middleBox()
}
